// Here you can add other styles
@import 'utils/mixins';

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  // color: #768192;
  background-color: #ffffff;
  color: #272f3d;
  // border-color: #c4c9d0 #c4c9d0 #ebedef;
}
.card {
  border: 0px;
}

.equipment {
  border: 2px solid;
  border-color: #bebbb7;
  height: auto;
  width: auto;
}

label {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 0.8rem;
  &::after {
    font-weight: 900;
  }
}