// Here you can add other styles
@import 'utils/mixins';
@import '_variables.scss';
* {
  box-sizing: border-box;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  // color: #768192;
  background-color: $backgroundColor;
  color: #272f3d;
  // border-color: #c4c9d0 #c4c9d0 #ebedef;
}
.card {
  border: 0px;
}

.equipment {
  border: 2px solid;
  border-color: #bebbb7;
  object-fit: contain;
  width: 56px;
  height: auto;
}
.itemInfo {
  @media screen and (max-width: 1500px) {
    // width: 8%;
    @include scale(0.9);
  }
}
label {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 0.8rem;
  &::after {
    font-weight: 900;
  }
}