// Variable overrides

// Colors
$epic: #a335ee;
$legendary: #ff8000;
$artifact: #e6cc80;

$primaryColor: #fab700; // #f86725?
$muted: hsla(44, 6%, 78%, 0.47);
$red: #ac1f39;
$panelColor: hsla(44, 3%, 11%, 1);
$backgroundColor: hsl(44, 7%, 8%);

$dark: $backgroundColor;
$warning: $primaryColor;
// Responsive
$mbp1: 359px;
$mbp2: 374px;
$mbp3: 413px;
$mbp4: 479px;
$mbp5: 532px;
$mbp6: 567px;
$mbp7: 639px;
$mbp8: 666px;
$mbp9: 735px;
$mbp10: 767px;
$mbp11: 991px;
$mbp12: 1199px;
$mbp13: 1365px;
$mbp14: 1439px;
$mbp15: 1499px;