// Items
.legendary { border-color: #ff8000 !important; }
.epic { border-color: #a335ee !important; }
.artifact { border-color: #e6cc80 !important; }
.rare { border-color: #0070dd !important; }
.uncommon { border-color: #1eff00 !important; }

// Classes
.DeathKnight { color: #c41f3b !important }
.Druid { color: #ff7d0a !important }
.Hunter { color: #abd473 !important }
.Mage { color: #69ccf0 !important }
.Monk { color: #2d9b78 !important }
.Paladin { color: #f58cba !important }
.Priest { color: #ffffff !important }
.Rogue { color: #fff569 !important }
.Shaman { color: #2459ff !important }
.Warlock { color: #9482c9 !important }
.Warrior { color: #c79c6e !important }
.DemonHunter { color: #a330c9 !important }

// Statistics
.stat-health { color: #27cc4e !important }
.stat-stamina { color: #ff8b2d !important }
.stat-agility { color: #ffd955 !important }
.stat-intellect { color: #d26cd1 !important }
.stat-strength { color: #f33232 !important }
.stat-criticalstrike { color: #e01c1c !important }
.stat-haste { color: #0ed59b !important }
.stat-mastery { color: #9256ff !important }
.stat-versatility { color: #bfbfbf !important }
