// If you want to override variables do it here
@import "variables";
@import '_variables.scss';
@import "layout.scss";
@import 'characterInfo.scss';
// Import styles
@import "~@coreui/coreui/scss/coreui";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

// If you want to add something do it here
@import "custom";

.card-header:not(.content-center) > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}
.c-app {
  background-color: $backgroundColor;
}
h1, h2, h3, h4, h5 {
  font-family: Poppins, 'Open Sans', 'Century Gothic', sans-serif;
  color: $primaryColor
}
h3 {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 9px;
  border-bottom: 1px solid #333;
}
.legendary {
  border-color: $legendary !important;
}

.epic {
  border-color: #a335ee !important;
}

.artifact {
  border-color: #e6cc80 !important;
}

.rare {
  border-color: #0070dd !important;
}

.uncommon {
  border-color: #1eff00 !important;
}

