// If you want to override variables do it here
@import "variables";
@import "_variables.scss";
@import "layout.scss";
@import "characterInfo.scss";
@import "colorsLayout.scss";
@import "guildLayout.scss";
@import "vue-loaders/dist/vue-loaders";
@import "tableLayout.scss";
@import "Modal.scss";
// Import styles
@import "~@coreui/coreui/scss/coreui";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

// If you want to add something do it here
@import "custom";

.card-header:not(.content-center) > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}
.c-app {
  background-color: $backgroundColor;
  color: #f3eded;

  > .offset {
    margin-top: 110px;
  }
}
.card {
  background-color: $panelColor;
}
.c-sidebar {
  background-color: $primaryColor;
}
.c-sidebar .c-sidebar-nav-link.c-active .c-sidebar-nav-icon,
.c-sidebar .c-active.c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon {
  color: $backgroundColor;
}

.c-sidebar .c-sidebar-nav-link .c-sidebar-nav-icon,
.c-sidebar .c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon {
  color: rgba(8, 8, 8, 0.5);
}
.c-sidebar .c-sidebar-nav-link, .c-sidebar .c-sidebar-nav-dropdown-toggle {
  color: rgba(8, 8, 8, 0.5);
  font-weight: 700;
}
.c-subheader {
  background-color: $panelColor;
  border-color: $primaryColor;
  a {
    color: $primaryColor
  }
}
.flex.wrapable {
  flex-wrap: wrap;
}

.flex-main {
  flex: 1;
  width: 100%;
}
.flex-sub {
  flex: 0 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Poppins, "Open Sans", "Century Gothic", sans-serif;
  color: $primaryColor;
}
h3 {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 9px;
  border-bottom: 1px solid #333;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: ">>" !important;
}
.btn-link {
  color: $primaryColor;
  text-decoration: none !important;
}
.btn-warning:not(.btn-ghost-warning){
  color: $backgroundColor;
  font-weight: 400;
}
.form-control {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px 12px;
  height: auto;
  background: rgba(0, 0, 0, 0.3);
  font-size: 1em;
  box-shadow: none !important;
  color: #fdf7ea;
  border-radius: 0;
}
.form-control:focus {
  box-shadow: none !important;
  border: 1px solid $primaryColor;
  background: rgba(0, 0, 0, 0.3);
  color: #fdf7ea;
}

select option {
  background: $backgroundColor !important;
}

