// If you want to override variables do it here
@import "variables";
@import "_variables.scss";
@import "layout.scss";
@import "characterInfo.scss";
@import "colorsLayout.scss";
@import "guildLayout.scss";
@import "vue-loaders/dist/vue-loaders";
@import "tableLayout.scss";
// Import styles
@import "~@coreui/coreui/scss/coreui";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

// If you want to add something do it here
@import "custom";

.card-header:not(.content-center) > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}
.c-app {
  background-color: $backgroundColor;
  color: #f3eded;

  > .offset {
    margin-top: 110px;
  }
}
.card {
  background-color: $panelColor;
}
.c-sidebar {
  background-color: $primaryColor;
}
.c-sidebar .c-sidebar-nav-link.c-active .c-sidebar-nav-icon,
.c-sidebar .c-active.c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon {
  color: $backgroundColor;
}

.c-sidebar .c-sidebar-nav-link .c-sidebar-nav-icon,
.c-sidebar .c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon {
  color: rgba(8, 8, 8, 0.5);
}
.flex.wrapable {
  flex-wrap: wrap;
}

.flex-main {
  flex: 1;
  width: 100%;
}
.flex-sub {
  flex: 0 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Poppins, "Open Sans", "Century Gothic", sans-serif;
  color: $primaryColor;
}
h3 {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 9px;
  border-bottom: 1px solid #333;
}

.btn-link {
  color: $primaryColor;
}
