@import '_variables.scss';
table.data-table {
  width: 100%;
  margin-bottom: 20px;
  color: white !important;
  font-weight: 400;
  text-transform: capitalize;
  thead th {
    border-bottom-color: $primaryColor;
  }
  tbody tr:hover {
    background-color: rgba($primaryColor, .5)  !important;
    color: white !important;
  }
  tr:nth-child(even) {
    background: rgba(255, 255, 255, .03);
  }
  tr th, tr td {
    padding: 7px;
    border-top: 0px !important;
  }
  &.compact tr th, &.compact tr td {
    padding: 6px;
  }
  tr th:first-of-type, tr td:first-of-type {
    padding-left: 30px;
  }
  tr th:last-of-type, tr td:last-of-type {
    padding-right: 30px;
  }
  img{
  margin-top: -.1em;
  &.icon {
    // width: 1.6em;
    // height: 1.6em;
    width: 3.6em !important;
    height: 3.6em !important;
    border: 2.5px solid $primaryColor !important;
    
  }
}
}