$color-1: #d5005a;



//Breakpoints (MAX WIDTH)
$mbp1: 359px;
$mbp2: 374px;
$mbp3: 413px;
$mbp4: 479px;
$mbp5: 532px;
$mbp6: 567px;
$mbp7: 639px;
$mbp8: 666px;
$mbp9: 735px;
$mbp10: 767px;
$mbp11: 991px;
$mbp12: 1199px;
$mbp13: 1365px;
$mbp14: 1439px;
$mbp15: 1499px;
